* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 5px;
}

h1 {
  font-family:'Roboto', sans-serif;
  font-weight: 200;
  color: #6C6C6C;
  font-size: 27px;
  line-height: normal;
  margin:0;
}

h2 {
  font-family:'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: thin;
  margin: 0;
}

.google {
  font-weight: bold;
  font-stretch: extra-expanded;
}

.hamburger {
  width: 30px;
  height: 30px;
  float: left;
  display: inline;
  margin: 10px;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #717171;
  margin: 3px;
  border-radius: 3px;
}

.logo {
  float: left;
  width: 50vw;
  margin-top: 5px;
}

.title {
  float: left;
  width: 100vw;
  margin-top: 4vh;
  margin-bottom: 8vh;
  padding-left: 1vw;
}

.grey {
  color: #717171;
}

.light-grey {
  color: #B0B0B0;
}

.yellow {
  color: #FFBC00;
}

.red {
  color: #FD0015;
}

.green {
  color: #00B254;
}

.blue {
  color: #437AF8;
}


.photo-card img {
  width: 93vw;
  z-index: -1000;
}

.photo-card h3 {
  color: white;
  padding-top: 10em;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  margin: 0;
  border: 0;
  padding-bottom: 0px;
}

.photo-card h6 {
  color: white;
  font-size: 13px;
}

.caption {
  top: -20em;
  z-index: 0;
  padding: 20px;
  position: relative;
  width: 90vw;
}


.white-card  {
  width: 90vw;
  height: 200px;
  background-color: white;
  padding: 10px;
}

.white-card img {
  width: 150px;
  float: left;
}

.white-card



/*Mobile*/
@media screen and (max-width:600px) {
  body {
    background-color: #F5F5F5;
  }
}

/*Tablet*/
@media screen and (min-width:601px) and (max-width:899px) {
  body {
    background-color: blue;
  }
}

/*Sm Comp*/
@media screen and (min-width:900px) and (max-width:1199px) {
  body {
    background-color: yellow;
  }
}

/*Larger Comp*/
@media screen and (min-width:1200px) {

}


/* Colors/Fonts
blue: #437AF8
red: #FD0015
yellow: #FFBC00
green: #00B254

lgiht grey logo text: #B0B0B0
dark grey logo text: #717171

background: #F5F5F5
open, hyperlink, and bottom bar blue: #3A5AD9

fonts:

header (top and bottom): roboto light, 26px, 33px line height; 0px between characters;
small heads: roboto, regular, 18, 25
caption text: roboto, regular, 14, 22
medium heads: roboto, regular, 23, 29
body: roboto, 16px, 25px,
tiny: roboto regular, 13, 20




*/
